# Ignore everything
/*

# Except
!/[Aa]ssets/
/[Aa]ssets/*
!/[Aa]ssets/Scenes/
!/[Aa]ssets/Scripts/
!/[Pp]ackages/
!/[Pp]roject[Ss]ettings/
/[Pp]roject[Ss]ettings/[Pp]ackages/

!.gitignore
!README.md
